@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.font-monts {
    font-family: 'Montserrat', sans-serif;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }

.nav-box-shadow{
  box-shadow:  0.1px 0px 4px #000000;
}
.div-shadow{
  border-radius: 12px;
background: #ffffff;
/* box-shadow:  20px 2px 47px #f0f0f0,
             -14px -14px 47px #ffffff; */
             transition: 0.5s ease-in-out;
}
.div-shadow:hover{
  box-shadow:  20px 2px 47px #f0f0f0,
             -14px -14px 47px #ffffff;
}
.hover-shadow{
  transition: 0.5s ease-in-out;
  
}
.hover-shadow:hover{
  box-shadow:  6px 6px 12px #656565,
  -6px -6px 12px #ffffff;
}
.custom-card{
  margin-bottom: 20px !important;
  border: none !important;
  outline: none !important;
}
.custom-card:focus{
  background: white !important;
}

.acc-shadow {
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.acc-before::before {
  content: "+";
  margin-right: 20px;
  font-size: 24px;
  font-weight: 600;
}

.content {
  transition: max-height 1s ease, padding 0.5s ease;
  max-height: 0;
  padding: 0 10px;
  overflow: hidden;
}

.accordion input[type="radio"]:checked + .acc-before + .content {
  max-height: 400px; /* Adjust as needed */
  padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + .acc-before {
  color: #007bff;
}

.accordion input[type="radio"]:checked + .acc-before::before {
  content: "-";
}

.s-icon-scale{
  transition: transform 0.3s ease;
}
.s-icon-scale:hover{
  transform: scale(1.1);
}

  
